<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="container text-center">
    <h1>Welcome, surfer</h1>
    <p>This is my first ever site made with Django framework. You can
    use it to create your own uniq password for some social networks
    or smth I don't really give a fuck.</p>
    <a href="{% url 'home' %}">Home</a>
</div>
